NEXT_PUBLIC_SUPABASE_URL=https://oxlhmndvpogpdjutfxzr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_API_URL=https://api.conectachat.com
NEXT_PUBLIC_WIDGET_URL=https://cdn.conectachat.com/widget.min.js
